.vs/
*.vcxproj.user
*.wapproj.user
*.cache
*.aps
bin/
obj/
packages/
Debug/
Release/
StorePackaging/StorePackaging_TemporaryKey.pfx
StorePackaging/Assets
StorePackaging/AppPackages
StorePackaging/BundleArtifacts