.vs/
*.vcxproj.user
*.wapproj.user
*.cache
*.aps
/bin/**
/obj/**
*/bin/**
*/obj/**
packages/
StorePackaging/Assets
StorePackaging/AppPackages
StorePackaging/BundleArtifacts
StorePackaging/StorePackaging_TemporaryKey.pfx
StorePackaging/Package.StoreAssociation.xml
UpgradeLog.htm
!SpookyView/bin/.gitkeep
!SpookyView/obj/.gitkeep