.vs/
*.vcxproj.user
*.wapproj.user
*.cache
*.aps
bin/
obj/
packages/
Debug/
Release/
x64/
Release Store/
StorePackaging/Assets
StorePackaging/AppPackages
StorePackaging/BundleArtifacts
StorePackaging/StorePackaging_TemporaryKey.pfx
StorePackaging/Package.StoreAssociation.xml