<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Spooky View" Language="1033" Version="1.0.3.0" Manufacturer="LittleTijn" UpgradeCode="8e3e3451-28d5-44e7-b71d-3cec60ec471d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Spooky View" Level="1" Absent="disallow" Description="Application to make any window transparent.">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>

		<Property Id="ApplicationFolderName" Value="Spooky View" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />
		<UIRef Id="WixUI_Advanced" />
    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />

    <Icon Id="icon.ico" SourceFile="spookyview.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<?if $(var.SpookyView.Platform) = "x64"?>
			<!-- Fix for https://github.com/wixtoolset/issues/issues/2165 -->
			<CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder" Property="WixPerMachineFolder" Value="[ProgramFiles64Folder][ApplicationFolderName]" Execute="immediate" />
			<InstallUISequence>
				<Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
			</InstallUISequence>
			<InstallExecuteSequence>
				<Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
			</InstallExecuteSequence>

			<SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />
		<?endif?>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Spooky View"/>
			</Directory>
			<?if $(var.SpookyView.Platform) = "x64"?>
				<Directory Id="ProgramFiles64Folder">
					<Directory Id="APPLICATIONFOLDER" Name="Spooky View" />
				</Directory>
			<?endif?>
			<?if $(var.SpookyView.Platform) = "Win32"?>
				<Directory Id="ProgramFilesFolder">
					<Directory Id="APPLICATIONFOLDER" Name="Spooky View" />
				</Directory>
			<?endif?>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
			<Component Id="ProductComponent">
				<File Id="executable" Source="$(var.SpookyView.TargetPath)" />
        <File Id="license" Source="gpl-3.0.rtf" />
			</Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="C35E4AD7-0D9D-4FA3-B507-ADDC1CDC0561">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Spooky View"
                  Description="Make any window transparent."
                  Target="[#executable]"
                  WorkingDirectory="APPLICATIONFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\SpookyView" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>