<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Spooky View" Language="1033" Version="1.0.3.0" Manufacturer="LittleTijn" UpgradeCode="8e3e3451-28d5-44e7-b71d-3cec60ec471d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Spooky View" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<?if $(var.SpookyView.Platform) = "x64"?>
				<Directory Id="ProgramFiles64Folder">
					<Directory Id="INSTALLFOLDER" Name="Spooky View" />
				</Directory>
			<?endif?>
			<?if $(var.SpookyView.Platform) = "Win32"?>
				<Directory Id="ProgramFilesFolder">
					<Directory Id="INSTALLFOLDER" Name="Spooky View" />
				</Directory>
			<?endif?>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
				<File Source="$(var.SpookyView.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
