<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="Spooky View" Language="1033" Version="1.0.4.0" Manufacturer="LittleTijn" UpgradeCode="8e3e3451-28d5-44e7-b71d-3cec60ec471d" InstallerVersion="200">
		

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Spooky View" Level="1" Description="Application to make any window transparent." AllowAbsent="no">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>

		<Property Id="ApplicationFolderName" Value="Spooky View" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />
		<ui:WixUI Id="WixUI_Advanced" />
    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />

    <Icon Id="icon.ico" SourceFile="spookyview.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<?if $(var.SpookyView.Platform) = "x64" or $(var.SpookyView.Platform) = "ARM64"?>
			<!-- Fix for https://github.com/wixtoolset/issues/issues/2165 -->
			<CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder" Property="WixPerMachineFolder" Value="[ProgramFiles64Folder][ApplicationFolderName]" Execute="immediate" />
			<InstallUISequence>
				<Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
			</InstallUISequence>
			<InstallExecuteSequence>
				<Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
			</InstallExecuteSequence>

			<SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />
		<?endif?>
	</Package>

	<Fragment>
			<StandardDirectory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Spooky View" />
			</StandardDirectory>
			<?if $(var.SpookyView.Platform) = "x64" or $(var.SpookyView.Platform) = "ARM64"?>
				<StandardDirectory Id="ProgramFiles64Folder">
					<Directory Id="APPLICATIONFOLDER" Name="Spooky View" />
				</StandardDirectory>
			<?endif?>
			<?if $(var.SpookyView.Platform) = "Win32"?>
				<StandardDirectory Id="ProgramFilesFolder">
					<Directory Id="APPLICATIONFOLDER" Name="Spooky View" />
				</StandardDirectory>
			<?endif?>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
			<Component Id="ProductComponent">
				<File Id="executable" Source="$(var.SpookyView.TargetPath)" />
        <File Id="license" Source="gpl-3.0.rtf" />
			</Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="C35E4AD7-0D9D-4FA3-B507-ADDC1CDC0561">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Spooky View" Description="Make any window transparent." Target="[#executable]" WorkingDirectory="APPLICATIONFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\SpookyView" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>